<!DOCTYPE html>
<html>
  <head>
    <title>West Coast Lighting</title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'favicon.ico' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

   <div class="side-nav fixed indigo lighten-5 z-depth-2" style="text-align:center;">
    <% if admin_signed_in? %>
      <%= link_to('Logout', destroy_admin_session_path, :method=>'delete') %>
    <% else %>
      <%= link_to('Admin Login', new_admin_session_path)  %>
    <% end %>     
    <%= image_tag "Logo", style:'width:auto; height:270px' %>
      <div id="nav-links">
         <ul><a href="#" class="indigo-text text-darken-4">About</a></li>
        <ul><a href="<%= manufacturers_path %>" class="indigo-text text-darken-4">Fixtures</a></li>
         <ul><a href="<%= manufacturers_path %>#manufacturers" class="indigo-text text-darken-4">All Manufacturers</a></li>
         <ul><a href="<%= employees_path %>" class="indigo-text text-darken-4">Our Team</a></li>
      </div>  

      <footer class="footer indigo lighten-5 ">
      <div class="contacts indigo-text text-lighten-2">
       <a class="email amber-text text-lighten-2" href="mailto:quotes@wcltg.com">QUOTES@WCLTG.COM </a>      239.390.1004   |   25241 ELEMENTARY WAY, SUITE 103. <br>BONITA SPRINGS, FL 34135
      </div>

      </footer>

    </div>
    <%= yield %>
  </body>
</html>

