<!DOCTYPE html>

<html>

  <head>
    <title>West Coast Lighting</title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'favicon.ico' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

      <div class="navbar hide-on-med-and-down">
        <nav>
          <div class="nav-wrapper indigo lighten-5 z-depth-0 hide-on-med-and-down;" style="opacity:.755; z-index: 10;">
           <%= link_to '/static_pages' do %>
          <%= image_tag "Logo", style:"width:auto;height: 123.5px; margin-top: -41px; padding-left: 172px;"%>
          <% end %>
            <ul id="nav-links" class="right">
               <li><a href="/static_pages#about-logo" class="indigo-text text-darken-4">ABOUT</a></li>
               <li><a href="/static_pages#index-line" class="indigo-text text-darken-4">CONTACT US</a></li>
              <li><a href="/manufacturers" class="indigo-text text-darken-4">LINE CARD</a></li>

               <li><a href="<%= employees_path %>" class="indigo-text text-darken-4">THE TEAM</a></li>
            </ul>
           </div>
        </nav>
      </div>


<div class="navbar z-depth-1 hide-on-large-only" id="topbar">
     <nav>
       <div class="nav-wrapper indigo lighten-5 ">
         <a href="/" class="brand-logo indigo-text text-darken-4 hide-on-large-only hide-on-small-only"><%= image_tag "WCLogo", style:'max-width:690px; height:auto' %></a>
         <a href="/" class="brand-logo indigo-text text-darken-4 hide-on-med-and-up"><%= image_tag "WCLogoS", style:'width:auto; max-height:55px' %></a>
         <a href="#" data-activates="mobile-demo" class="right button-collapse yellow-text text-darken-3">
            <i class="material-icons">menu</i>
          </a>
         <ul class="right hide-on-med-and-down" style='width: auto !important;'>
    <%= image_tag "Logo", style:'width:auto; height:290px' %>
      <div id="nav-links">
         <ul><a href="/about" class="indigo-text text-darken-4">About</a></li>
        <ul><a href="/manufacturers"class="indigo-text text-darken-4">Line Card</a></li>
         <ul><a href="<%= contact_us_path %>#manufacturers" class="indigo-text text-darken-4">Contact Us</a></li>
         <ul><a href="<%= employees_path %>" class="indigo-text text-darken-4">Our Team</a></li>
      </div> 
      </div> 
         <ul class="side-nav indigo lighten-5 z-depth-2" id="mobile-demo" style:'width: auto !important;'>
    <%= image_tag "Logo", style:'width:auto; height:290px' %>
      <div id="nav-links">
         <ul><a href="/about" class="indigo-text text-darken-4">About</a></li>
        <ul><a href="/manufacturers" class="indigo-text text-darken-4">Line Card</a></li>
         <ul><a href="<%= contact_us_path %>#manufacturers" class="indigo-text text-darken-4">Contact Us</a></li>
         <ul><a href="<%= employees_path %>"  class="indigo-text text-darken-4">Our Team</a></li>
      </div>
    </div>
    </ul>
    </nav>
</div> 

    
    <%= yield %>

  </body>

<footer class="page-footer">
  
  <div class="footer-copyright">
      <div class="center contacts indigo-text text-lighten-2">
        <%if Company.all.any?%>
       <a class="email amber-text text-lighten-2" style="font-size:14px; padding: 15px"href="mailto:<%=Company.last.email%>"><%=Company.last.email.upcase%> </a>      
       <%array = Company.last.phone.split('')%>
       <%array.insert(3, ".")%>
       <%array.insert(7, ".")%>
       <span class="amber-text text-lighten-1"style="font-size: 14px; padding: 15px"><%=array.join%></span>
       <span class="amber-text text-lighten-2" style="font-size: 14px; padding: 15px"><%=Company.last.address%></span>

      </div>
       <span class="right indigo-text text-darken-1"style="font-size: 14px; padding: 15px">© 

          <script language="JavaScript" type="text/javascript">
          now = new Date
          theYear=now.getYear()
          if (theYear < 1900)
          theYear=theYear+1900
          document.write(theYear)
          </script> 

       West Coast Lighting</span>      
        <%else%>
        Enter company</span>
      <%end%>


  </div>
</footer>




</html>

