<!DOCTYPE html>

<html>
  <head>
    <title>West Coast Lighting</title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'favicon.ico' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

<nav>
  <div class="nav-wrapper indigo lighten-5 z-depth-0 hide-on-med-and-down;" style="opacity:.755; z-index: 10;">
     
    <%= image_tag "Logo", style:"width:auto;height: 120.5px;margin-top: -38px; padding-left: 152px;"%>
      <ul id="nav-links" class="right">
         <li><a href="/about" class="indigo-text text-darken-4">ABOUT</a></li>
        <li><a href="/manufacturers" class="indigo-text text-darken-4">LINE CARD</a></li>

         <li><a href="<%= contact_us_path %>" class="indigo-text text-darken-4">CONTACT US</a></li>
         <li><a href="<%= employees_path %>" class="indigo-text text-darken-4">THE TEAM</a></li>
      </ul>
</nav>


  </div>
    
    <%= yield %>
  </body>
</html>

