<div class="parallax-container">
  <div class="parallax"><%= image_tag "CancerCenter" %>
  </div>
</div>
<div class="container">
  <h2 class="center">Featured Manufacturers</h2>
  <% if @manufacturers %>
    <div class="row">
        <% @manufacturers.each do |manufacturer| %>
          <div class="col s12 m6 l6">
            <div class="card center indigo lighten-2 hoverable">
              <div class="card-content indigo lighten-2">
                <span class="card-title "><%= manufacturer.name %></span>
                <div class="carousel carousel-slider">
                  <a class="carousel-item" href="#one!"><img src="http://lorempixel.com/900/900/city/1"></a>
                  <a class="carousel-item" href="#two!"><img src="http://lorempixel.com/900/900/city/2"></a>
                  <a class="carousel-item" href="#three!"><img src="http://lorempixel.com/900/900/city/3"></a>
                </div>
                <p><%= manufacturer.profile %></p>
              </div>
              <div class="card-action">
                <a href="<%= manufacturer.website %>"><%= manufacturer.website %></a>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
</div>
