<div class="container">
 <br> <span><%= link_to 'Add New Manufacturer', new_manufacturer_path, class: 'link' %></span><br><br>	
	<% if @manufacturers %>
  	<% @manufacturers.each do |manufacturer| %>
  		<br>
  		<span>Company: <%= manufacturer.name %> </span><br>
  		<span>About: <%= manufacturer.profile %> </span><br>
  		<span>Website: <%= manufacturer.website %> </span><br>
  		<span><%= link_to 'Edit', edit_manufacturer_path(manufacturer), class: 'link' %>
      <span><%= link_to 'Delete', manufacturer_path(manufacturer),
                  method: :delete,
                  data: { confirm: 'Are you sure you want to delete this manufacturer?' }, class: 'link'  %></span><br>  			
		<% end %>
	<% end %>

</div>
