<div class="form container">
<%= form_for @manufacturer do |f| %>
  <div class="col-sm-6">
    <br><br>
    <%= f.label :name, "Manufacturer's Name:"%>
    <%= f.text_area(:name) %>

    <%= f.label :profile, "Profile Description:"%>    
    <%= f.text_area(:profile) %>

    <%= f.label :website, "Website:"%>
    <%=f.text_area(:website) %>
  </div>

  <div class="col-sm-6">
    
  <%= f.label :logo, "Logo"%>
  <%= f.file_field :logo %>

  <br><br>
  <div id="images"> 
    <%= f.fields_for :images, Image.new do |i| %>
      <%= render 'image_fields', :f => i %>
      <div class="add_image">
        <%= link_to_add_association 'Add Another Image', f, :images %>
      </div>
    <% end %>
  </div>
  <div id="fixtures"> 
    <%= f.fields_for :product_types, ProductType.new do |i| %>
      <%= render 'product_type_fields', :f => i %>

      </div>
    <% end %>
  </div>  
  <%= f.submit 'Upload Manufacturer'%>
  <% @manufacturer.errors.full_messages.each do |msg| %>
  <li>Error:  <%= msg %>.</li>
  </div>
<% end %>
<% end %>
</div>