<div class="navbar z-depth-1 hide-on-large-only">
     <nav>
       <div class="nav-wrapper indigo lighten-5 ">
         <a href="/" class="brand-logo indigo-text text-darken-4 hide-on-large-only hide-on-small-only"><%= image_tag "WCLogo", style:'max-width:690px; height:auto' %></a>
         <a href="/" class="brand-logo indigo-text text-darken-4 hide-on-med-and-up"><%= image_tag "WCLogoS", style:'width:auto; max-height:55px' %></a>
         <a href="#" data-activates="mobile-demo" class="right button-collapse yellow-text text-darken-3">
            <i class="material-icons">menu</i>
          </a>
         <ul class="right hide-on-med-and-down" style='width: auto !important;'>
    <%= image_tag "Logo", style:'width:auto; height:290px' %>
      <div id="nav-links">
         <ul><a href="/about" class="indigo-text text-darken-4">About</a></li>
        <ul><a href="/manufacturers"class="indigo-text text-darken-4">Line Card</a></li>
         <ul><a href="<%= contact_us_path %>" class="indigo-text text-darken-4">Contact Us</a></li>
         <ul><a href="<%= employees_path %>" class="indigo-text text-darken-4">Our Team</a></li>
      </div> 
      </div> 
         <ul class="side-nav indigo lighten-5 z-depth-2" id="mobile-demo" style:'width: auto !important;'>
    <%= image_tag "Logo", style:'width:auto; height:290px' %>
      <div id="nav-links">
         <ul><a href="/about" class="indigo-text text-darken-4">About</a></li>
        <ul><a href="/manufacturers" class="indigo-text text-darken-4">Fixtures</a></li>
         <ul><a href="<%= contact_us_path %>" class="indigo-text text-darken-4">Contact Us</a></li>
         <ul><a href="<%= employees_path %>"  class="indigo-text text-darken-4">Our Team</a></li>
      </div>
    </div>


<div class="container"> 

    <h2 class="center">The Team</h2>
    <div class="yellow-underline"></div>

    <% if admin_signed_in? %>
    <div class="add-new-employee">
    <%= link_to 'Add New Employee', new_employee_path, class: 'link' %>
    </div>
    <% end %>
<%if @employees %>
<div class="row">
      <% @employees.each do |e| %>
      <div class="col s12 m6">
    <div class="card horizontal" style="max-width: 435px;">
      <div class="card-image">
        <%= image_tag( e.img, class: "employee-img") %>
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <% if admin_signed_in? %>
          <a href="/employees/<%=e.id%>/edit">Edit</a>
          <%= link_to 'Delete', employee_path(e),
                method: :delete,
                data: {confirm: 'Are you sure you want to delete this employee?'}%>
          <% end %>
          <h5><%=e.first_name%> <%=e.last_name%></h5>
          <i><%=e.title%></i><br><br><br>
          <%array = e.phone.split('')%>
          <%array.insert(3, ".")%>
          <%array.insert(7, ".")%>
          <p><%=array.join%></p>
        </div>
        <div class="card-action center" id="employee-card-bottom" style="line-height: 0px;">
          <a href="mailto:<%=e.email%>"><%=e.email%></a>
        </div>
      </div>
    </div>
    </div>
      <% end %>
  
<%else %>
<p><%=Add Employees%></p>
<% end %>  
</div>
</div>
 <div class="login" style="position: fixed; bottom:0;">
      <% if admin_signed_in? %>
        <span><%= link_to('Logout', destroy_admin_session_path, :method=>'delete') %>
          <%if Company.all.any?%>
            <%= link_to('Edit Company', "/about/#{Company.last.id}/edit") %>
          <%else%>
            <%= link_to('Initial Setup', new_company_path) %>
          <%end%>        
      <% else %>
          <%if Admin.all == [] %>
            <%= link_to('Create Admin', new_admin_path) %>
          <%end%>        
        <%= link_to('Admin Login', new_admin_session_path)  %>
      <% end %> </span>
  </div> 